/*Remueve el borde cuando se está haciendo foco sobre el input*/
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-sky{
  background-color: rgba(224, 238, 243, 0.822);
}

.bg-page{
  background-color: rgb(241, 238, 238);
}

.Buscador{
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
}

#MenuHorizontal{
  display: flex;
  float: left;
  margin: 0;
  padding: 0;
  color: grey;
  font-size: 13px;
}

.menuCategorias{
  display: block;
  position: absolute;
  z-index: 10;
  width: 270px;
  margin-left: 150px;
  background-color: rgb(44, 49, 49);
  border-radius: 5px;
}

.menuCategorias ul li:hover{
  background-color: rgb(64, 119, 221);
}

.trianguloMenu{
  display: none;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: rgb(44, 49, 49);
  z-index: 10;
  color:rgb(44, 49, 49);
  top: 95px;
  left: 305px;
  transform: rotate(45deg);
}

.contendorMenuCategorias{
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.247);
  width: 100%;
  height: 3000px;
  z-index: 10;
}

.menuTecnología{
  display: none;
  position: absolute;
  z-index: 10;
  width: 760px;
  margin-left: 415px;
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 13px;
  line-height: 5px;
  color: grey;
  height: 1017px;
}

.BotonRedondo{
  background-color: white;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  text-align: center;
  box-shadow: 1px 2px gray;
}

.TituloBoton{
  position: relative;
  margin-top: 18px;
  font-size: 9px;
}

.contenedorBoton{
  position: relative;
  display: flex;
  justify-content: center;
  width: 67px;
  height: 65px;
  float: left;
}

.contenedorBotones{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.fuenteTextos{
  font-size: 10px;
}

.Icono{
  position: relative;
  margin-top: 12px;
  width: 30px;
  height: 30px;
}

.floatLeft{
  display: flex;
  float: left;
}

.contBarra:focus,input:focus{
  border: 2px solid rgb(0, 110, 255) !important;
}

.sizeBarra{
  width: 815px;
  height: 50px;
}

#lupa{
  display:block;
  position: absolute;
  z-index: 10;
  border-end-end-radius: 5px;
  border-top-right-radius: 5px;
  left: 805px;
}

#inputB{
  border: 1px solid gray;
}

.contBarra{
  display: flex;
  margin-top: 40px !important;
}

.contBarra,#inputBarra{
  display: flex;
  justify-content: start;
}

.ItemCategoria{
  display: flex;
  position: relative;
  float: left;
}

.ItemFlecha{
  display: flex;
  position: relative;
  float: none;
  justify-content:end;
  margin-right: 20px;
}

.ContenedorFloat{
  display: flex;
  float: left;
}

table, td{
  border: 1px solid gray;
  width: 100%;
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

.tableStyle{
  width: 700px;
  border: 1px solid gray;
  margin-top: 35px;
}

.tableStyleSimil{
  width: 1050px;
  margin-top: 35px;
}

table, tr, th{
  width: 400px;
  border: none;
  padding: 10px;
}

table, tr, td{
  width: 400px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}


.fondo{
  background-color: rgba(192, 192, 192, 0.281);
}

.fondoStrong{
  background-color: rgba(163, 159, 159, 0.39);
}

.fondoSky{
  background-color: rgba(163, 198, 212, 0.452);
}

.BotonRedondo:hover {
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

.ContenedorOferta{
  position: relative;
  display: flex;
  margin:auto;
  margin-top: 10px;
  padding: 5px;
}

.ImgOferta{
  border-radius: 10px;
}

.ImgSuper{
  width: 150px;
  height: 150px;
  padding: 10px;
}

.ImgOfertadeldia{
  width: 350px;
  padding: 10px;
}

.imgProducto{
  width: 400px;
  height: 600px;
}

.ColorGradiente{
  background: linear-gradient(45deg,rgb(170, 36, 170),rgb(14, 14, 48));
}

.fuenteBarra{
  margin-top: 0;
  font-family:'Times New Roman', Times, serif;
  color: white;
  font-size: 40px;
}

.Menu{
  position: absolute;
  width: 400px;
  z-index: 10;
}

ul{
  margin-top: 40px;
  list-style:none;
}

.liTypeStyle{
  list-style-type:disc;
  margin-left: 0;
  padding-left: 15px;
  font-size: 14px;
}

.ItemSelected{
  color: rgb(61, 80, 248);
  border-bottom: 3px solid rgb(61, 80, 248) !important;
}

.ImageMD{
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 300px;
}

.Ocultar{
  display: none;
}

.Mostrar{
  display: block;
}

.hoverLink:hover {
  color: rgb(61, 80, 248);
}

#ListHorizontal {
  background-color: #f6e3cabe;
  float: left;
  margin-right: 10px;
  padding: 4px;
  width: 50px;
}

.greenBlock{
  background-color: rgb(56, 150, 56) !important;
  padding: 6px !important;
}

.grlghBlock{
  background-color: rgba(214, 248, 214, 0.404) !important;
}

.atumBlock{
  background-color: rgba(252, 209, 129, 0.226) !important;
}

.borderVH{
  border-left: 1px solid rgba(128, 128, 128, 0.432);
  border-right: 1px solid rgba(128, 128, 128, 0.432);
  height: 80px;
}

.estiloSubNivel{
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  background: linear-gradient(50deg,rgb(172, 29, 72),rgb(9, 9, 31));
  width: 190px;
  padding: 5px;
  margin:10px;
  font-size: 9px;
  border-radius: 10px 50px 50px 50px;
}

.colorMenu{
  background-color: rgba(255, 243, 70, 0.856) !important;
}

.BarraBusqueda{
  background-color: white;
  border-radius: 2px;
}

.form-control {
  border: 0;
  width: 90%;
}

.estiloMercadoPago{
  position: relative;
  display: inline-block;
  color: black;
  text-decoration: none;
  background-color: rgb(255, 252, 52);
  width: 95%;
  padding: 10px;
  margin:10px;
  font-size: 12px;
  border-radius: 50px 50px;
}

.CarrouselPosicion{
  position: relative;
  margin-top: 10px;
}

li{
  padding: 10px;
}

.contenedorMenu{
  position: absolute;
  width: 100%;
  height: 1650px;
  background-color: rgba(0, 0, 0, 0.671);
  z-index: 10;
}

.imgBeneficios{
  border-radius: 10 10 10 10;
}

#cabecera{
  z-index: 10;
  margin-bottom: 60px;
}

.MarginTop{
  margin-top: 40px;
}

.fijar{
  position: fixed;
  z-index: 0;
}

.pointerEvent{
  pointer-events: none;
  height: 80px;
}

.pointerEventSlider{
  pointer-events: none;
  height: 160px;
  margin: 10px;
}

.bordeInferior{
  border-bottom-color: blue;
  border-bottom-width: 5px;
}

.imgSlider{
  width: 100px;
}

.ImageContainer{
  width: 60%;
  height: auto;
  display: flex;
  margin: auto;
}

.AlignEnd{
  position: flex;
  align-self: flex-end;
  align-items: center;
}

.cantCarrito{
  display:block;
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: red;
  font-size: 8px;
  color: white;
  text-align: center;
  border-radius: 50%;
  margin-left: 72.5%;
}

#ImgVisto{
  height: 100% !important;
  width: auto !important;
}

.MenuDesplegable{
  position: relative;
  display: flex;
  margin: auto;
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  padding: 8px;
}

.contenedorOpciones{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.671);
  z-index: 10;
  display: none;
}

.OpcionesMenuDesp{
  position: relative;
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
  display: none;
  width: 100%;
  background-color: white;
  animation: crecer-menu 0.5s linear forwards;
}

.borde-redondo{
  width: 140px;
  height: 140px;
  border-radius: 100%;
}

.centrado{
  display: flex;
  position: relative;
  margin-left: auto;
  margin-top: auto;
}


@keyframes crecer-menu {
  0%
  {
    top: 100%;
  }
  50%
  {
    top: 80%;
  }
  100%
  {
    top: 50%;
  }
}

.visible{
  display: block;
}

.ImgVisto{
  width: 150px !important;
  height: 150px !important;
  padding: 10px;
}

.linea{
  position: relative;
  display: flex;
  width: 50px;
  height: 10px;
  border-radius: 30%;
  font-weight: 400;
  justify-content: center;
  margin-left: 46%;
  border-width: 3px;
}

.contenedorBuscar{
  display: block;
  width: 480px;
  height: 400px;
  border: 1px solid grey;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px;
}

.iconArrow{
  position: relative;
  display: flex;
  color: blue;
  margin-left: auto;
}


.iconArrowRotarArriba{
    animation: animar-rotar-arriba 0.5s linear forwards;
}

.iconArrowRotarAbajo{
  animation: animar-rotar-abajo 0.5s linear forwards;
}

#listaFooter li{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

@keyframes animar-rotar-arriba {

  100%
  {
    transform: rotate(180deg);
  }
}

@keyframes animar-rotar-abajo {
  0%
  {
    transform: rotate(180deg);
  }
  50%
  {
    transform: rotate(90deg);
  }
  100%
  {
    transform: rotate(0deg);
  }
}

.contenedorSwitch{
  display: flex;
  position: absolute;
  background-color: grey;
  width: 40px;
  height: 23px;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 48px;
}

.Switch{
  display: flex;
  position: relative;
  width: 20px;
  background-color: rgb(248, 248, 248);
  border-radius: 50%;
  border: 1px solid grey;
}

.backgroundBlue{
  background-color: blue;
}

.moverSwitchDerecha{
  animation: animar-mover-switch-derecha 0.15s linear forwards;
}

.moverSwitchIzquierda{
  animation: animar-mover-switch-izquierda 0.15s linear forwards;
}

.BotonBuscar{
  display: block;
  position: relative;
  color: white;
  width: 80%;
  height: 40px;
  background-color: blue;
  border: none;
  margin: auto;
  margin-top: 80px;
  border-radius: 5px;
}

.contenedorNoticias{
  display: flex;
  position: relative;
  margin: auto;
}

.contenedorFooter{
  top:0;
  animation: crecer-menu 0.5s linear forwards;
}


@keyframes animar-mover-switch-derecha{
  100%
  {
    display: flex;
    position: relative;
    margin-left: 20px;
    border: 1px solid blue;
  }
}

@keyframes animar-mover-switch-izquierda{
  100%
  {
    display: flex;
    position: relative;
    margin-left: 0px;
    border: 1px solid grey;
  }
}

.fuenteXS{
  font-size: 10px;
}

.imgVehiculo{
  width: 140px;
  height: 50px;
}

.contenedorVehiculos{
  display: flex;
  position: relative;
  margin: auto;
  width: 160px;
  padding: 20px;
}

.contenedorBeneficios{
  display: flex;
  position: relative;
}

.contImgVehiculo{
  display: flex;
  position: relative;
  margin: auto;
}

.tamañoSlide{
  width: 40px;
  height: 40px;
}

.tamañoSlideFoto{
  height: 220px;
}

.item {
  height: 4rem;
}

.itemSlider {
  height: 4rem;
}

.slider-container{
  width: 850px;
  height: 300px;
  margin-bottom: 60px;
}

.ImgSmall{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
}

.ImgMD{
  width: 80px;
  height: 80px;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
}

.ImgCarousel{
  width: auto;
  height: auto;
  max-width: 180px;
  max-height: 180px;
  cursor: pointer;
}


.ImgSmall:hover {
  border: 2px solid rgb(48, 125, 241);
}

.ImgLarge{
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 400px;
}

.imgSizeProd{
  max-height: 200px;
}

.imgSizeAutos{
  max-height: 270px;
}

.cardSize{
  width: 13rem;
}

.cardHeight{
  height: 280px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardCarouselHeight{
  height: 200px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorTituloVentas{
  width: 100%;
  height: 275px;
}

.tituloVentas{
  width: 500px;
  height: 100px;
  display: flex;
  position: relative;
  left: 25%;
  top:25%;
  font-size: 30px;
  font-weight: bold;
  font-family: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif,sans-serif;
}

.itemSelectedBorder:hover{
  border-left: 2px solid rgb(55, 126, 219);
  cursor: pointer;
  background-color: rgba(241, 234, 234, 0.527);
}

.itemSelected:hover{
  cursor: pointer;
  background-color: rgba(241, 234, 234, 0.527);
}

.addShade:hover{
  box-shadow: 10px 5px 5px rgba(119, 116, 116, 0.219);
}

@media screen and (max-width: 590px){
  .contenedorBoton{
    position: relative;
    display: flex;
    align-items: center;
    width: 53px;
    height: 40px;
    float: left;
  }
  .BotonRedondo{
      width: 49px;
      height: 49px;
  }
  .TituloBoton{
    position: relative;
    margin-top: 10px;
    font-size: 12px;
  }
  .Icono{
    position: relative;
    margin-top: 10px;
    width: 30px;
    height: 30px;
  }
  .cantCarrito{
    margin-left: 75%;
  }
  .iconArrow{
    margin-left: 250px;
  }
  .sizeImage{
    width: 300px;
  }
  .tamañoSlideFoto{
    height: 120px;
  }
  .slider-container{
    width: 320px;
    height: 300px;
    margin-bottom: 60px;
  }
  .hideItem{
    display: none;
  }
  .imgProducto{
    width: 300px;
    height: 400px;
  }
  .sizeBarra{
    width: 400px;
    height: 50px;
  }
  #lupa{
    display:block;
    position: absolute;
    z-index: 10;
    border-end-end-radius: 5px;
    border-top-right-radius: 5px;
    left: 315px;
  }

  .cardSize{
    width: 10rem;
    margin-bottom: 10px;
  }

  .ImgCarousel{
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
  }
}

@media screen and (min-width: 620px){
  .contenedorBoton{
    position: relative;
    display: flex;
    align-items: center;
    width: 92px;
    height: 80px;
    float: left;
  }
  .BotonRedondo{
      width: 79px;
      height: 70px;
  }
  .TituloBoton{
    position: relative;
    margin-top: 18px;
    font-size: 12px;
  }
  .Icono{
    position: relative;
    margin-top: 15px;
    width: 50px;
    height: 50px;
  }
  .cantCarrito{
    margin-left: 75%;
  }
  .iconArrow{
    margin-left: 250px;
  }
}

@media screen and (min-width: 750px){
  .contenedorBoton{
    position: relative;
    display: flex;
    justify-content: center;
    width: 112px;
    height: 100px;
    float: left;
  }
  .BotonRedondo{
      width: 99px;
      height: 99px;
  }
  .TituloBoton{
    position: relative;
    margin-top: 25px;
    font-size: 18px;
  }
  .Icono{
    position: relative;
    margin-top: 20px;
    width: 55px;
    height: 55px;
  }
  .cantCarrito{
    margin-left: 77%;
  }
  .iconArrow{
    margin-left: 300px;
  }
  .CarrouselPosicion{
    position: relative;
    margin-top: 60px;
  }
  #cabecera{
    z-index: 10;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 930px){
  .contenedorBoton{
    position: relative;
    display: flex;
    
    align-items: center;
    width: 132px;
    height: 120px;
    float: left;
  }
  .BotonRedondo{
      width: 89px;
      height: 89px;
  }
  .TituloBoton{
    position: relative;
    margin-top: 15px;
    font-size: 22px;
  }
  .Icono{
    position: relative;
    margin-top: 18px;
    margin-left: 1px;
    width: 55px;
    height: 55px;
  }
  .tamañoBody{
    height: 174px;
  }
  
  .ImgVisto{
    width: 50% !important;
    height: 50% !important;
    padding: 10px;
  }
  .ImgSuper{
    width: 150px;
    height: 150px;
    padding: 10px;
  }
  .cantCarrito{
    margin-left: 79.5%;
  }
  .iconArrow{
    margin-left: 650px;
  }

  .contSlide{
    display: grid;
    position: relative;
    justify-content: center;
  }
  .fuenteTextos{
    font-size: 14px;
    font-family:sans-serif;
  }
  .contenedorBeneficios{
    display: flex;
    position: relative;
    margin-left: 17px;
  }

  .CarrouselPosicion{
    position: relative;
    margin-top: 0px;
  }
}
